// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.embed-video {
  margin-top: 20px;
}

.videos {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;

  .video {
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
}
